.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header-logo {
  margin: 0 20px;
  margin-top: 18px;
  width: 100px;
  object-fit: contain;
}

.header-search {
  display: flex;
  flex: 1 0;
  align-items: center;
  border-radius: 24px;
}
.header-search .header-searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header-searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
.header-nav {
  display: flex;
  justify-content: space-evenly;
}
.header-nav .header-option {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.header-optionLineOne {
  font-size: 10px;
}
.header-optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header-optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header-optionBasket .header-basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 850px) {
  .header-search,
  .header-nav {
    display: none;
  }

  .header a {
    margin: 0 auto;
  }

  .header-logo {
    margin-top: 18px;
  }

  .button {
    color: #131921;
    font-size: 1.6rem;
  }

  .button {
    position: relative;
    left: 35px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
  }

  .header-btn-img {
    display: contents;
  }

  .header-btn-img.open {
    display: flex;
  }

  .header-btn-img.open .button {
    left: -45px;
    top: 13px;
  }

  .header-nav-search.open {
    display: flex;
    flex-direction: column;
  }

  .header-nav-search.open .header-search {
    display: flex;
    width: 85%;
    margin: 0 auto;
  }

  .header-nav-search.open .header-nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }

  .header.open {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .header-nav.open {
    display: flex;
    position: absolute;
    visibility: visible;
    height: auto;
    position: relative;
    bottom: -15px;
    background-color: #131921;
  }
}

@media (min-width: 851px) and (max-width: 1800px) {
  .header {
    justify-content: space-between;
  }

  .header-nav-search {
    display: flex;
  }

  .header-logo {
    margin-top: 0;
  }
}

@media (min-width: 1801px) and (max-width: 3400px) {
  .header {
    justify-content: space-around;
  }

  .header-nav-search {
    display: flex;
  }

  .header-logo {
    margin-top: 0;
  }
}
