.order {
  padding: 40px;
  margin: 20px 0;
  background-color: white;
  border: 1px solid lightgray;
  position: relative;
}
.order-id {
  position: absolute;
  row-gap: 40px;
  right: 20px;
}
.order-total {
  font-weight: 500;
  text-align: right;
}

@media (max-width: 850px) {
  .order {
    padding: 15px;
  }

  .order h2 {
    text-align: center;
    margin-bottom: 5px;
  }

  .order > p,
  .order-id {
    text-align: center;
    position: static;
  }
}
