.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  height: 100vh;
}

.center {
  background-color: rgba(48, 55, 78, 0.867);
  padding: 1em 2em;
  border-radius: 100px;
  color: #fff;
}

.link {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  background-color: rgba(48, 55, 78, 0.867);
  padding: 1em 2em;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  transform: scale(1.2);
  color: rgb(117, 153, 51);
}
